@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
  --main-bg-color: #0D374E;
  --secondary-bg-color:#EBAE58;
  --accent-bg-color:#729A44;
  --text-family: 'Roboto', sans-serif;
  --text-title-wheight:600;
  --text-weight:200;
  --v-padding:1rem;
  --h-padding:1rem;
  --text-color:#141414;
  --text-color-light:#f0f8ff;
  --text-white:white;
  --h-1-text:45px;
  --sub-title-size:30px;
  --h-2-text:22px;
  --text-size: 17px;
  --bg-section:#F9FAFB;
}
