<section class="text-gray-600 body-font">
    <br><br>
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">Comment se passe l’achat d’un véhicule sur le site MyAuto ?</h2>
    <div class="container flex flex-wrap w-full h-full">
      <div class="flex flex-col lg:w-5/12 pl-24">
        <div class=" lg:w-11/12">
          <div class="border-b-2 border-black"><span class="fs-3 ">La Vente</span></div>
          <div class="pt-4 flex flex-row items-center">
            <div class="flex-shrink-0 w-10 h-10 rounded-full main-bg-color inline-flex items-center justify-center text-white relative z-10">
              <img src="../../../assets/money-icon.png" class="w-8 h-8">
            </div>
            <div class="pl-4">
              <b> Estimation gratuite </b>de la valeur de votre véhicule sur la base des données partagée sur notre site web ou par téléphone
            </div>
          </div>


          <div class="pt-16 flex flex-row items-center">
            <div class="flex-shrink-0 w-10 h-10 rounded-full main-bg-color inline-flex items-center justify-center text-white relative z-10">
              <img src="../../../assets/agent-icon.png" class="w-8 h-8">
            </div>
            <div class="pl-4">
              Un agent MyAuto se déplace au lieu de votre choix pour effectuer une <b>inspection détaillée</b> et signer un mandat
            </div>
          </div>

          <div class="pt-14 flex flex-row items-center">
            <div class="flex-shrink-0 w-10 h-10 rounded-full main-bg-color inline-flex items-center justify-center text-white relative z-10">
              <img src="../../../assets/agent-icon-2.png" class="w-8 h-8">
            </div>
            <div class="pl-4">
              Nous filtrons et donnons suite aux demandes en continu, dans le but de trouver un acheteur sérieux le plus rapidement possible.
            </div>
          </div>


        </div>
      </div>
      <div class="bg-yellow flex flex-col lg:w-2/12">
        <div class="h-full w-full inset-0 flex items-center justify-content-center justify-center ">
          <div class="h-full w-1 pointer-events-none main-bg-color"></div>
        </div>
      </div>
      <div class="bg-white flex flex-col lg:w-5/12">
        <div class=" lg:w-4/5">
          <div class="border-b-2 border-black"><span class="fs-3 ">L’achat</span></div>
          <div class="pt-3 flex flex-row items-center">
            <div class="flex-shrink-0 w-10 h-10 rounded-full main-bg-color inline-flex items-center justify-center text-white relative z-10">
              <img src="../../../assets/car-icon.png" class="w-8 h-8">
            </div>
            <div class="pl-4">
              En tant qu’acheteur potentiel vous aurez accès à <b>des voitures d'occasion de qualité sur notre site web</b>, y compris un rapport détaillé sur l'état intérieur, extérieur et mécanique de chaque voiture.
            </div>
          </div>


          <div class="pt-2 flex flex-row items-center">
            <div class="flex-shrink-0 w-10 h-10 rounded-full main-bg-color inline-flex items-center justify-center text-white relative z-10">
              <img src="../../../assets/lock-icon.png" class="w-8 h-8">
            </div>
            <div class="pl-4">
              Une fois que vous aurez sélectionné la voiture de votre choix, vous pouvez la réserver sur notre site. Un de nos agents vous contactera pour organisera un essai routier en fonction de la disponibilité du vendeur.
            </div>
          </div>

          <div class="pt-2 flex flex-row items-center">
            <div class="flex-shrink-0 w-10 h-10 rounded-full main-bg-color inline-flex items-center justify-center text-white relative z-10">
              <img src="../../../assets/road-sign-icon.png" class="w-7 h-7">
            </div>
            <div class="pl-4">
              L'essai routier est effectué avec l'un de nos agents. Si vous décidez de ne pas poursuivre la transaction à ce stade, nous vous rembourserons immédiatement les frais de réservation.
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="w-full h-64 flex flex-row items-center ">
      <div class="flex flex-col lg:w-5/12 pl-24"></div>
      <div class="bg-yellow flex flex-col lg:w-2/12 items-center text-center">
          <img src="../../../assets/arrowed-handshake-icon.png" class="w-15 h-15">
          <p>Si vous aimez la voiture, nous sécurisons le paiement, et un agent de MyAuto est présent lors de la vente pour traiter toutes les formalités.
          </p>
      </div>
      <div class="bg-white flex flex-col lg:w-5/12"></div>
    </div>
  </section>
