<section class="text-gray-600 body-font overflow-hidden  section-style  section-bg">
  <div class="container px-1 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100 table-container">
      <table class="table table-style" *ngIf="requestsIsLoaded" >
        <thead>
          <tr>
            <th data-label="first-name">Marque</th>
            <th data-label="last-name">Version</th>
            <th data-label="email">Kilometrage</th>
            <th data-label="email">Carburant</th>
            <th data-label="email">Boite vitesse</th>
            <th data-label="email">Date Mise Circulation</th>
            <th data-label="email">Email</th>
            <th data-label="email">Numero Telephone</th>
            <th data-label="email">Created Date</th>
            <th data-label="email">Status</th>
            <th data-label="email"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let request of requests">
            <td data-label="first-name">{{request.marque}}</td>
            <td data-label="first-name">{{request.modele}}</td>
            <td data-label="first-name">{{request.kilometrage}}</td>
            <td data-label="first-name">{{request.carburant}}</td>
            <td data-label="first-name">{{request.boiteVitesse}}</td>
            <td data-label="last-name">{{request.dateMiseCirculation}}</td>
            <td data-label="email"> {{request.email}}</td>
            <td data-label="email"> (+216) {{request.telephone}}</td>
            <td data-label="last-name">{{request.createdDate | date:'dd-MM-yyyy'}}</td>
            <td data-label="last-name">{{request.tag}}</td>
            <td data-label="email">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle kebab-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="deleteRequestById(request._id)"> Refuser </a></li>
                  <li><a class="dropdown-item" (click)="acceptRequest(request)"> Accepter </a></li>
                </ul>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
