.footer-bg{
  background-color: #0D374E ;
}
.logo-bg{
  background-color: #EBAE58 ;
}
.logo-color{
  color : #729A44 ;
}
.footer-style{
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 15rem;
}
.footer-wrapper{
  height: 10rem;
}
