<div class="flex">
  <div class="side-bar">
    <div class="side-menu ps-10">
      <div class="filter-title-style text-center">Mes Filters</div>
      <div class="fs-6 title-style mt-2">Prix</div>
      <div class="flex flex-row">
        <div class="flex-col">
          <label for="prixmin">Min. ({{ mimumPrix }})</label><br />
          <input
            type="number"
            [(ngModel)]="selectPrixMin"
            (ngModelChange)="prixMinSubject.next('')"
            id="prixmin"
            class="rounded input-bg w-8/12"
          />
        </div>
        <div class="flex-col">
          <label for="prixmax">Max. ({{ maximumPrix }})</label><br />
          <input
            type="number"
            [(ngModel)]="selectPrixMax"
            (ngModelChange)="prixMaxSubject.next('')"
            id="prixmax"
            class="rounded input-bg w-8/12"
          />
        </div>
      </div>

      <div class="fs-6 title-style mt-2">Marque</div>
      <div class="list-group">
        <label
          class="list-group-item lable-bg border-none ps-0 check-style"
          *ngFor="let marque of allMarques"
        >
          <input
            class="form-check-input me-1"
            type="checkbox"
            [value]="marque"
            (change)="marqueSubject.next(marque)"
          />
          {{ marque }}
        </label>
      </div>

      <div class="fs-6 title-style mt-2">kilometrage</div>
      <div class="flex flex-row">
        <div class="flex-col">
          <label for="html">Min.({{ mimumKilometrage }})</label><br />
          <input
            type="number"
            id="html"
            [(ngModel)]="selectKilometrageMin"
            (ngModelChange)="kilometrageMinSubject.next('')"
            class="rounded input-bg w-8/12"
          />
        </div>
        <div class="flex-col">
          <label for="html">Max. ({{ maximumKilometrage }}) </label><br />
          <input
            type="number"
            id="html"
            [(ngModel)]="selectKilometrageMax"
            (ngModelChange)="kilometrageMaxSubject.next('')"
            class="rounded input-bg w-8/12"
          />
        </div>
      </div>

      <!-- <div class="fs-4 font-semibold mt-2">Carburant</div>
      <div class="flex flex-col">
        <div *ngFor="let carburant of allCarburants">
          <input type="checkbox" id="html" name="fav_language" [value]="carburant" (change)="carburantSubject.next(carburant)" class="me-3">
          <label for="html">{{carburant}}</label><br>
        </div>
      </div> -->
      <div class="fs-6 title-style mt-2">Carburant</div>
      <div class="list-group">
        <label
          class="list-group-item lable-bg border-none ps-0 check-style"
          *ngFor="let carburant of allCarburants"
        >
          <input
            class="form-check-input me-1"
            type="checkbox"
            [value]="carburant"
            (change)="carburantSubject.next(carburant)"
          />
          {{ carburant }}
        </label>
      </div>
      <div class="fs-6 title-style mt-2">Boite de vitesse</div>
      <div class="list-group">
        <label
          class="list-group-item lable-bg border-none ps-0 check-style"
          *ngFor="let boitVitesse of allBoitesVitesses"
        >
          <input
            class="form-check-input me-1"
            type="checkbox"
            [value]="boitVitesse"
            (change)="boiteVitessSubject.next(boitVitesse)"
          />
          {{ boitVitesse }}
        </label>
      </div>
      <!-- <div class="fs-4 font-semibold mt-2">Boite de vitesse</div>
      <div class="flex flex-col">
        <div *ngFor="let boitVitesse of allBoitesVitesses">
          <input type="checkbox" id="html" [value]="boitVitesse" (change)="boiteVitessSubject.next(boitVitesse)" class="me-3">
          <label for="html">{{boitVitesse}}</label><br>
        </div>
      </div> -->
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-12 w-full">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2
          class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
        >
          Notre sélection de voitures d'occasion contrôlées
        </h2>

        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
          👨‍🔧 Voitures contrôlées👍 Garantie incluse
        </p>
      </div>
      <!-- text - end -->
      <div class="grid gap-4 mx-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <!-- product - start -->
        <div
          *ngFor="let carDetail of filteredCars"
          class="card-layout bg-gray-100 rounded-b-lg"
        >
          <a
            href="#"
            class="group relative block h-96 overflow-hidden rounded-t-lg bg-gray-100 h-56"
             [routerLink]="['/detailsvoiture']" [queryParams]="{voitureId: carDetail.car._id}"
          >
          <!-- src="../../../assets/item.png" -->
            <img
              *ngIf="carDetail.image?.fileURL.length > 0"
              [src]="carDetail.image?.fileURL"
              loading="lazy"
              alt="car main logo "
              class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />
            <img
              *ngIf="carDetail.image?.fileURL.length == 0"
              src="../../../assets/main-car-logo.webp"
              loading="lazy"
              alt="Photo by Austin Waaltde"
              class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />
            <div
              class="absolute left-0 bottom-2 flex gap-2"
              *ngIf="carDetail.car?.tag?.length > 0"
            >
              <span
                *ngIf="carDetail.car?.tag == 'Voiture Réservée'"
                class="rounded-r-lg bg-red-500 px-3 py-1.5 text-sm font-semibold uppercase tracking-wider text-white"
                >{{ carDetail.car.tag }}</span>
              <span
                *ngIf="carDetail.car?.tag == 'Bonne affaire'"
                class="rounded-r-lg bg-yellow-500 px-3 py-1.5 text-sm font-semibold uppercase tracking-wider text-white"
                >{{ carDetail.car.tag }}</span >
              <!-- <span
                *ngIf="car?.tag == 'Voiture Réservée'"
                class="rounded-r-lg bg-green-500 px-3 py-1.5 text-sm font-semibold uppercase tracking-wider text-white"
                >{{ car.tag }}</span > -->
            </div>
          </a>
          <div class="row gap-2 h-20">
            <div class="col ps-3 pt-2">
              <div class="row">
                <a
                  href="#"
                  class="font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-lg"
                  >{{ carDetail.car.marque }} {{ carDetail.car.modele }}</a
                >
              </div>
              <div class="row"></div>
              <span class="text-sm text-gray-500 lg:text-base whitespace-nowrap"
                >{{ carDetail.car.dateMiseCirculation | date : "yyyy" }} |
                {{ carDetail.car.kilometrage }} | {{ carDetail.car.carburant }} |
                {{ carDetail.car.boiteVitesse }}</span
              >
            </div>
            <div class="col flex justify-end items-start pt-3 ps-0 pe-3">
              <span class="font-bold text-gray-600 lg:text-sm"
                >{{ carDetail.car.prix }} TND</span
              >
            </div>
          </div>
        </div>
        <!-- <div class="card-layout bg-gray-100 rounded-b-lg card-wrapper" *ngFor="let car of filteredCars">
          <a
            href="#"
            class="group relative block h-96 overflow-hidden rounded-t-lg bg-gray-100 h-56"
            routerLink="/detailsvoiture"
          >
            <img
              src="../../../assets/item.png"
              loading="lazy"
              alt="Photo by Austin Wade"
              class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />
            <div
              class="absolute left-0 bottom-2 flex gap-2"
              *ngIf="car.tag.length > 0"
            >
              <span
                *ngIf="car.tag == 'Voiture Réservée'"
                class="rounded-r-lg bg-red-500 px-3 py-1.5 text-sm font-semibold uppercase tracking-wider text-white"
                >{{ car.tag }}</span
              >
              <span
                *ngIf="car.tag == 'Bonne affaire'"
                class="rounded-r-lg bg-yellow-500 px-3 py-1.5 text-sm font-semibold uppercase tracking-wider text-white"
                >{{ car.tag }}</span
              >
              <span
                *ngIf="car.tag == 'BLA BLA'"
                class="rounded-r-lg bg-green-500 px-3 py-1.5 text-sm font-semibold uppercase tracking-wider text-white"
                >{{ car.tag }}</span
              >
            </div>
          </a>
          <div class="row gap-2 h-20 content-wrapper">
            <div class="col-9 ps-3 pt-2">
              <div class="row">
                <a
                  href="#"
                  class="font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-lg"
                  >{{ car.marque }} {{ car.modele }}</a
                >
              </div>
              <div class="row"></div>
              <span class="text-sm text-gray-500 lg:text-base whitespace-nowrap"
                >{{ car.dateMiseCirculation | date : "yyyy" }} |
                {{ car.kilometrage }} | {{ car.carburant }} |
                {{ car.boiteVitesse }}</span
              >
            </div>
            <div class="col-3 flex justify-start items-start pt-3 ps-0 pe-3">
              <span class="font-bold text-gray-600 lg:text-sm"
                >{{ car.prix }} TND</span
              >
            </div>
          </div>
        </div> -->
        <!-- product - end -->
      </div>
    </div>
  </div>
</div>
