<header class="text-gray-400 header-bg body-font header-styles">
  <div class="container mx-auto flex flex-wrap pt-3 pb-3 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white  md:mb-0" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 logo-color p-2 logo-bg rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">MyAuto</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center text-white font-medium">
      <a class="mr-5 hover:text-current  nav-content" routerLink="/achetervoiture">Acheter une voiture</a>
      <a class="mr-5 hover:text-current nav-content" routerLink="/vendrevoiture">Vendre ma voiture</a>
      <a class="mr-5 hover:text-current nav-content" routerLink="/commentcamarche">Comment ca marche</a>
      <a class="mr-5 hover:text-current nav-content" routerLink="/admin">Admin</a>
    </nav>

    <!-- login button -->
    <!-- <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Login
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button> -->
  </div>
</header>
