
/* background-color: #0D374E ; */
.header-bg{

  background-color: #0d354a ;
}
.logo-bg{
  background-color: #EBAE58 ;
}
.logo-color{
  color : #729A44 ;
}

.nav-content{
  color: var( --text-color-light);
}

