<div class="text-gray-600 body-font nav-wrapper">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center justify-content-between nav-height">
    <nav class="flex flex-wrap items-center text-base justify-center py-1">
      <a class="mr-5 hover:text-gray-900 tab-style nav-link-style"  (click)="onClickTab('gallery')">Portfolio</a>
      <a class="mr-5 hover:text-gray-900 tab-style nav-link-style" (click)="onClickTab('requests')">Demandes</a>
      <a class="mr-5 hover:text-gray-900 tab-style  nav-link-style" (click)="onClickTab('createVoiture')">Nouvelle voiture</a>
    </nav>
  </div>
</div>
<app-requests *ngIf="isRequests"></app-requests>
<app-collection *ngIf="isGallery"></app-collection>
<app-create-voiture *ngIf="isCreateVoiture" (backToGallery)="backToGallery()" ></app-create-voiture>

