
<div class="flex">
<div class="bg-gray-100 h-screen w-72 p-5 pt-8 ">
  <div class="inline-flex">
    <i class="bi bi-house-door-fill"></i>
    <span class="text-black origin-left font-medium text-2xl">Mes filters</span>
  </div>
  <ul class="pt-2">
    <li class="text-gray-600 text-sm  items-center gap-x-3 cursor-pointer p-1 hover:bg-light-white rounded-md mt-2">
     <span class="font-bold	">Prix</span>
     <br/>
     <div class="flex flex-row">
      <div class="md:w-1/2">
        <label for="min-prix" class=" text-sm text-gray-600"> Min.(1234)</label>
        <input type="text" id="min-prix" name="min-prix" class=" bg-gray-100 rounded border ">
      </div>
      <div class="md:w-1/2">
        <label for="max-prix" class="leading-7 text-sm text-gray-600"> Max.(1234)</label>
        <input type="text" id="max-prix" name="max-prix" class=" bg-gray-100 rounded border ">
      </div>

     </div>
    </li>
    <li class="text-gray-600 text-sm flex items-center gap-x-4 cursor-pointer p-2 hover:bg-light-white rounded-md mt-2">
      marque
    </li>
    <li class="text-gray-600 text-sm flex items-center gap-x-4 cursor-pointer p-2 hover:bg-light-white rounded-md mt-2">
      marque
    </li>
    <li class="text-gray-600 text-sm flex items-center gap-x-4 cursor-pointer p-2 hover:bg-light-white rounded-md mt-2">
      marque
    </li>
    <li class="text-gray-600 text-sm flex items-center gap-x-4 cursor-pointer p-2 hover:bg-light-white rounded-md mt-2">
      marque
    </li>
  </ul>
</div>

</div>
