<div class="fullscreen-container" *ngIf="isFullscreen" (click)="toggleFullscreen()">
    <img [src]=selectedMainImage class="" loading="lazy" alt="Photo by Himanshu Dewangan" class="object-cover object-center" />
</div>
<div class="bg-white py-6 sm:py-8 lg:py-12" *ngIf="!isFullscreen">
    <div class="row flex flex-row justify-content-space-around">
        <div class="flex flex-col lg:w-2/3 justify-content-center pl-20 pr-12">
            <div class="bg-white pb-6 sm:pb-8 lg:pb-12 row d-flex justify-content-center">



                <!--photos-->
                <div class="mx-auto max-w-screen-xl px-4 py-4 md:px-8">
                <div class="">
                  <!-- images - start -->
                  <div class="grid gap-4 lg:grid-cols-5">
                    <div class="relative overflow-hidden rounded-lg bg-gray-100 lg:col-span-4" style="max-height: 23rem">
                        <img #mainImg (click)="toggleFullscreen()" [src]=selectedMainImage loading="lazy" alt="../../../assets/main-car-logo.webp" class="h-full w-full object-cover object-center" />
                        <span class="absolute left-0 top-0 rounded-br-lg bg-red-500 px-3 py-1.5 text-sm uppercase tracking-wider text-white">Bonne Affaire</span>
                      </div>

                    <div class="order-last flex gap-3 lg:order-none lg:flex-col">

                      <div class="overflow-hidden rounded-lg bg-gray-100" (click)="switchImage(0)" style="max-height: 5rem;" *ngIf="this.details.images && this.details.images.length >0">
                        <img [src]=this.details.images[0].fileURL loading="lazy" alt="../../../assets/main-car-logo.webp" class="h-full w-full object-cover object-center" />
                      </div>
                      <div class="overflow-hidden rounded-lg bg-gray-100" (click)="switchImage(0)" style="max-height: 5rem;" *ngIf="this.details.images && this.details.images.length == 0">
                        <img [src]=imgList[0] loading="lazy" alt="../../../assets/main-car-logo.webp" class="h-full w-full object-cover object-center" />
                      </div>

                      <div class="overflow-hidden rounded-lg bg-gray-100" (click)="switchImage(1)" style="max-height: 5rem;" *ngIf="this.details.images && this.details.images.length > 1">
                        <img [src]=this.details.images[1].fileURL loading="lazy" alt="../../../assets/main-car-logo.webp" class="h-full w-full object-cover object-center" />
                      </div>
                      <div class="overflow-hidden rounded-lg bg-gray-100" (click)="switchImage(2)" style="max-height: 5rem;" *ngIf="this.details.images && this.details.images.length > 2">
                        <img [src]=this.details.images[2].fileURL loading="lazy" alt="../../../assets/main-car-logo.webp" class="h-full w-full object-cover object-center" />
                      </div>
                      <div class="overflow-hidden rounded-lg bg-gray-100" (click)="switchImage(3)" style="max-height: 5rem;" *ngIf="this.details.images && this.details.images.length > 3">
                        <img [src]=this.details.images[3].fileURL loading="lazy" alt="../../../assets/main-car-logo.webp" class="h-full w-full object-cover object-center" />
                      </div>

                      <!-- <div class="overflow-hidden rounded-lg bg-gray-100" (click)="switchImage(2)" style="max-height: 5rem;">
                        <img [src]=imgList[2] loading="lazy" alt="Photo by Himanshu Dewangan" class="h-full w-full object-cover object-center" />
                      </div>
                      <div class="overflow-hidden rounded-lg bg-gray-100" (click)="switchImage(3)" style="max-height: 5rem;">
                        <img [src]=imgList[3] loading="lazy" alt="Photo by Himanshu Dewangan" class="h-full w-full object-cover object-center" />
                      </div> -->
                    </div>
                  </div>
                  <!-- images - end -->
                </div>
                </div>

                <!-- banner - start -->
                <div class="relative flex flex-wrap bg-indigo-500 rounded-3xl px-4 py-3 shadow-md vend-voiture-card" style="width: 78rem;">
                  <div class="row flex flex-row justify-content-space-around w-full">

                    <div class="flex flex-col lg:w-1/5 text-center align-middle font-bold">
                        <span class="emoji ">  🤝 👨‍🔧 🏆</span>
                        <span class="banner-text"> Voitures contrôlées </span>
                    </div>
                    <div class="flex flex-col lg:w-1/5 text-center font-bold">
                        <span class="emoji ">  🤝 👨‍🔧 🏆</span>
                         <span class="banner-text">Garantie incluse</span>
                    </div>
                    <div class="flex flex-col lg:w-3/5 text-center font-bold justify-content-center">
                         <span class="banner-text">Vehicule contrôlée par notre agent <b>David</b></span>
                    </div>
                  </div>
                </div>
                <!-- banner - end -->
            </div>





            <!--section details card-->
            <div class="row d-flex justify-content-center" *ngIf="detailsIsLoaded" >
            <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 78rem; height: 20rem;">
              <div class="card-body">
                <h5 class="card-title card-title-style">Informations clés</h5>
                <div class="div row flex items-start h-full banner-text pt-3">
                  <div class="div col-6 flex flex-col">
                      <!-- <p class="fs-3 py-1">Modele : <b>{{details.car.modele}}</b></p> -->
                    <p class="card-text-style pt-1">Modele</p>
                    <p class="card-subTitle-style">{{details.car.modele}}</p>
                    <p class="card-text-style pt-3">Date mise en Circulation</p>
                    <p class="card-subTitle-style">{{details.car.dateMiseCirculation | date:'dd-MM-yyyy'}}</p>
                    <p class="card-text-style pt-3">Carburant</p>
                    <p class="card-subTitle-style">{{details.car.carburant}}</p>
                  </div>
                  <div class="div col-6 flex flex-col">
                    <p class="card-text-style pt-1">Boite de vitesse</p>
                    <p class="card-subTitle-style">{{details.car.boiteVitesse}}</p>
                    <p class="card-text-style pt-3">Kilométrage</p>
                    <p class="card-subTitle-style">{{details.car.kilometrage}}</p>
                  </div>

                </div>
              </div>
            </div>
            </div>


            <!-- section options-->

            <div class="row d-flex justify-content-center ">
            <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 78rem; min-height: 20rem;">
              <div class="card-body">
                <h5 class="card-title fs-1 text-blue-700 banner-title">Principaux équipements & Options</h5>

                <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-2 lg:gap-8" *ngIf="detailsIsLoaded">
                    <div class="flex flex-col rounded-lg  p-4 pt-6 p-2">
                        <div *ngFor="let option of details.car.options; let odd=odd; let even=even">
                            <div class="bg-white rounded flex p-4 items-center mt-4" *ngIf="even">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                                  <path d="M22 4L12 14.01l-3-3"></path>
                                </svg>
                                <span class="title-font font-medium ">{{option}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col rounded-lg  p-4 pt-6 p-2">
                        <div *ngFor="let option of details.car.options; let odd=odd; let even=even">
                            <div class="bg-white rounded flex p-4 items-center mt-4" *ngIf="odd">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                                  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                                  <path d="M22 4L12 14.01l-3-3"></path>
                                </svg>
                                <span class="title-font font-medium">{{option}}</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              </div>

            <!-- section exterieur-->

            <div class="row d-flex justify-content-center " *ngIf="detailsIsLoaded">
                <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 78rem; min-height: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title fs-1 text-blue-700 banner-title">État extérieur</h5>

                    <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-2 lg:gap-8">
                        <div class="flex flex-col rounded-lg  p-4 pt-6 p-2">
                            <div *ngFor="let ex of details.car.etatExterieur; let odd=odd; let even=even">
                                <div class="bg-white rounded flex p-4 items-center mt-4" *ngIf="even">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                                      <path d="M22 4L12 14.01l-3-3"></path>
                                    </svg>
                                    <span class="title-font font-medium">{{ex.exTitre}}</span><br>
                                    <span class="title-font font-small">{{ex.exDescription}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col rounded-lg  p-4 pt-6 p-2">
                            <div *ngFor="let ex of details.car.etatExterieur; let odd=odd; let even=even">
                                <div class="bg-white rounded flex p-4 items-center mt-4" *ngIf="odd">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                                      <path d="M22 4L12 14.01l-3-3"></path>
                                    </svg>
                                    <span class="title-font font-medium">{{ex.exTitre}}</span><br>
                                    <span class="title-font font-small">{{ex.exDescription}}</span>                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- section interieur-->

            <div class="row d-flex justify-content-center " *ngIf="detailsIsLoaded">
                <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 78rem; min-height: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title fs-1 text-blue-700 banner-title">État intérieur</h5>

                        <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-2 lg:gap-8">
                        <div class="flex flex-col rounded-lg  p-4 pt-6 p-2">
                            <div *ngFor="let in of details.car.etatInterieur; let odd=odd; let even=even">
                                <div class="bg-white rounded flex p-4 items-center mt-4" *ngIf="even">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                                      <path d="M22 4L12 14.01l-3-3"></path>
                                    </svg>
                                    <span class="title-font font-medium">{{in.eiTitre}}</span><br>
                                    <span class="title-font font-small">{{in.eiDescription}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col rounded-lg  p-4 pt-6 p-2">
                            <div *ngFor="let in of details.car.etatInterieur; let odd=odd; let even=even">
                                <div class="bg-white rounded flex p-4 items-center mt-4" *ngIf="odd">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                                      <path d="M22 4L12 14.01l-3-3"></path>
                                    </svg>
                                    <span class="title-font font-medium">{{in.eiTitre}}</span><br>
                                    <span class="title-font font-small">{{in.eiDescription}}</span>                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- section entretien-->
            <div class="row d-flex justify-content-center" *ngIf="detailsIsLoaded">
            <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 78rem; min-height: 50rem;">
              <div class="card-body">
                <h5 class="card-title fs-1 text-blue-700 banner-title">Historique d’entretien</h5>
                <div class="container px-5 mx-auto flex flex-wrap">
                    <div class="flex flex-wrap w-full">
                      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6 banner-text">
                        <div class="flex relative pb-12">
                          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                          </div>
                          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-500 inline-flex items-center justify-center text-white relative z-10">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                          </div>
                          <div class="flex-grow pl-4">
                            <h2 class="font-medium mb-1 tracking-wider">Kilometrage      Date</h2>
                            <div *ngIf="details.historyDetails.length > 0" >
                              <p class="leading-relaxed">{{details.historyDetails[0].kilometrage}}      {{details.historyDetails[0].date | date:'dd-MM-yyyy'}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="flex relative pb-12" *ngFor="let entretien of details.historyDetails; let index=index; let last=last">
                          <div *ngIf="!last" class="h-full w-10 absolute inset-0 flex items-center justify-center">
                            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                          </div>
                          <div  class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-500 inline-flex items-center justify-center text-white relative z-10">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                          </div>
                          <div class="flex-grow pl-4">
                            <h2 class="font-medium mb-1 tracking-wider">Entretien {{details.historyDetails.length - index}}</h2>
                            <p class="leading-relaxed">{{entretien.kilometrage}}  {{entretien.date}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>


            <!-- section controle mecanique-->
            <div class="row d-flex justify-content-center">
                <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 78rem; min-height: 41rem;">
              <div class="card-body">
                <h5 class="card-title fs-1 text-blue-700 banner-title">Contrôle mécanique</h5>
                <div class="container  py-4 mx-auto">
                    <div class="row d-flex justify-content-center">
                        <div class="flex flex-col lg:w-1/3 sm:mb-2 -mx-2">
                      <div class="p-2 w-full hover:invert " (click)="updateSelectedControl(1)">
                        <div class="bg-white rounded flex p-4 h-full items-center shadow-sm">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                          </svg>
                          <span class="title-font font-medium">Pneumatiques</span>
                        </div>
                      </div>
                      <div class="p-2 w-full hover:invert focus:invert active:invert visited:invert " (click)="updateSelectedControl(2)">
                        <div class="bg-white rounded flex p-4 h-full items-center shadow-sm">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                          </svg>
                          <span class="title-font font-medium">Freinage</span>
                        </div>
                      </div>
                      <div class="p-2 w-full hover:invert" (click)="updateSelectedControl(3)">
                        <div class="bg-white rounded flex p-4 h-full items-center shadow-sm">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                          </svg>
                          <span class="title-font font-medium">Distribution</span>
                        </div>
                      </div>
                      <div class="p-2 w-full hover:invert" (click)="updateSelectedControl(4)">
                        <div class="bg-white rounded flex p-4 h-full items-center shadow-sm">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                          </svg>
                          <span class="title-font font-medium">Moteur</span>
                        </div>
                      </div>
                      <div class="p-2 w-full hover:invert" (click)="updateSelectedControl(5)">
                        <div class="bg-white rounded flex p-4 h-full items-center shadow-sm">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                          </svg>
                          <span class="title-font font-medium">Chassis</span>
                        </div>
                      </div>
                      <div class="p-2 w-full hover:invert" (click)="updateSelectedControl(6)">
                        <div class="bg-white rounded flex p-4 h-full items-center shadow-sm">
                          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-blue-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                          </svg>
                          <span class="title-font font-medium">Test de Conduite</span>
                        </div>
                      </div>
                        </div>
                        <div class="flex flex-col lg:w-2/3 sm:mb-2 -mx-2 py-2 px-5" *ngIf="detailsIsLoaded">
                            <div class="card ng-white border-0 w-full h-full ">
                            <div class="card ng-white border-0 w-full h-full shadow-sm">
                                <div class="card-body" [ngSwitch]="selectedControl">
                                    <div *ngSwitchCase="1" class="px-3">
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Avant Gauche</b></p><br>
                                            <div class="flex flex-col lg:w-2/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Marque : <br>
                                                Dimensions : <br>
                                                Profondeur Restante : <br>
                                                Type de pneu : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-3/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.pneumatique.pAVG.marque}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pAVG.dimensions}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pAVG.profondeurRestante}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pAVG.typePneu}}</b>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Avant Droit</b></p><br>
                                            <div class="flex flex-col lg:w-2/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Marque : <br>
                                                Dimensions : <br>
                                                Profondeur Restante : <br>
                                                Type de pneu : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-3/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.pneumatique.pAVD.marque}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pAVD.dimensions}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pAVD.profondeurRestante}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pAVD.typePneu}}</b>
                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Arrière Gauche</b></p><br>
                                            <div class="flex flex-col lg:w-2/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Marque : <br>
                                                Dimensions : <br>
                                                Profondeur Restante : <br>
                                                Type de pneu : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-3/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.pneumatique.pARG.marque}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pARG.dimensions}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pARG.profondeurRestante}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pARG.typePneu}}</b>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Arrière Droit</b></p><br>
                                            <div class="flex flex-col lg:w-2/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Marque : <br>
                                                Dimensions : <br>
                                                Profondeur Restante : <br>
                                                Type de pneu : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-3/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.pneumatique.pARD.marque}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pARD.dimensions}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pARD.profondeurRestante}}</b>
                                                <b>{{details.controleMecanique.pneumatique.pARD.typePneu}}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="2" class="px-3">
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Plaquettes</b></p><br>
                                            <div class="flex flex-col lg:w-1/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Avant : <br>
                                                Arriere : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-4/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.freinage.plaquetteAV}}</b>
                                                <b>{{details.controleMecanique.freinage.plaquetteAR}}</b>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Disques</b></p><br>
                                            <div class="flex flex-col lg:w-1/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Avant : <br>
                                                Arriere : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-4/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.freinage.disqueAV}}</b>
                                                <b>{{details.controleMecanique.freinage.disqueAR}}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="3" class="px-3">
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Type de Distribution</b></p><br>
                                            <p>{{details.controleMecanique.distribution}}</p> <br>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="4" class="px-3">
                                        <div class="row d-flex justify-content-center" >
                                            <div class="flex flex-col lg:w-1/2 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Niveau huile : <br>
                                                Niveau liquide de frein : <br>
                                                Niveau liquide de refroidissement : <br>
                                                Examen visuel fuites d'huile : <br>
                                                Courroie d'accessoire : <br>
                                                État de la batterie à l'inspection : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-1/2 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.moteur.niveauHuile}}</b>
                                                <b>{{details.controleMecanique.moteur.niveauLiquideFrein}}</b>
                                                <b>{{details.controleMecanique.moteur.niveauLiquideRefroidissement}}</b>
                                                <b>{{details.controleMecanique.moteur.examenVisuelFuitesHuile}}</b>
                                                <b>{{details.controleMecanique.moteur.courroieDaccessoire}}</b>
                                                <b>{{details.controleMecanique.moteur.etatBatterieLinspection}}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="5" class="px-3">
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Train avant</b></p><br>
                                            <div class="flex flex-col lg:w-2/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Rotules  : <br>
                                                Cardans  : <br>
                                                Amortisseurs  : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-3/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.chassis.trainAvant.rotules}}</b>
                                                <b>{{details.controleMecanique.chassis.trainAvant.cardans}}</b>
                                                <b>{{details.controleMecanique.chassis.trainAvant.amortisseurs}}</b>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center" >
                                            <p class="text-blue-700" style="padding-left: 0.5rem !important;"><b>Train arrière</b></p><br>
                                            <div class="flex flex-col lg:w-2/5 sm:mb-2 -mx-2" style="padding: 0px !important;">
                                                Rotules  : <br>
                                                Cardans  : <br>
                                                Amortisseurs  : <br>
                                            </div>
                                            <div class="flex flex-col lg:w-3/5 sm:mb-2 -mx-2">
                                                <b>{{details.controleMecanique.chassis.trainArriere.rotules}}</b>
                                                <b>{{details.controleMecanique.chassis.trainArriere.cardans}}</b>
                                                <b>{{details.controleMecanique.chassis.trainArriere.amortisseurs}}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="6" class="px-3">
                                        <p><b>Un test de conduite a été réalisé par l'agent dont la résultat était:</b><b> {{details.controleMecanique.testConduite.resultat}}.</b></p> <br>
                                        <ul style="list-style: inside !important;">
                                            <li>Tenue de la ligne de conduite (accélération et freinage)</li>
                                            <li>Pas d'anomalie à la conduite sur les trains roulants (suspensions, amortisseurs, rotules, ...)</li>
                                            <li>Fonctionnement normal de la direction (pas de jeu ni de vibration)</li>
                                            <li>Pas de vibrations moteur anormales</li>
                                            <li>Bon grip de l'embrayage / pas de patinage excessif du convertisseur de couple</li>
                                        </ul>
                                        <br>
                                        <p><b>Vitesse maximale atteinte durant le test :</b><b> {{details.controleMecanique.testConduite.vitesseMax}}</b></p>
                                    </div>
                                    <div *ngSwitchDefault class="px-3">
                                        none
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- <button class="flex mx-auto mt-16 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Button</button> -->
                  </div>
              </div>
            </div>
          </div>
                </div>
            </div>


            <!-- section pricing-->
            <div class="bg-white py-6 sm:py-8 lg:py-12">
                <div class="mx-auto max-w-screen-xl px-4 md:px-8">
                  <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">Garantie et extension</h2>
                  <h5 class="mb-4 text-center text-2xl font-normal text-gray-800 md:mb-8 lg:text-xl xl:mb-12">MyAuto vous propose différentes garanties pour répondre à vos besoins.</h5>

                  <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-2 lg:gap-8">
                    <!-- plan - start -->
                    <div class="flex flex-col rounded-lg border p-4 pt-6">
                      <div class="mb-12">
                        <div class="mb-2 text-center text-2xl font-bold text-gray-800">ESSENTIEL  </div>

                        <p class="mx-auto mb-8 px-8 text-center text-gray-500">Garantie de base incluse dans tous nos vehicules</p>

                        <div class="space-y-2">
                          <!-- check - start -->
                          <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>

                            <span class="text-gray-800 font-semibold">Moteur</span>
                          </div>
                          <!-- check - end -->

                          <!-- check - start -->
                          <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>

                            <span class="text-gray-800 font-semibold">Pont</span>
                          </div>
                          <!-- check - end -->

                          <!-- check - start -->
                          <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>

                            <span class="text-gray-800 font-semibold">Boîte de vitesse</span>
                          </div>
                          <!-- check - end -->

                        </div>
                      </div>

                      <div class="mt-auto flex flex-col gap-8">
                        <div class="flex items-end justify-center gap-1">
                          <!-- <span class="self-start text-gray-600">$</span>
                          <span class="text-4xl font-bold text-gray-800">0</span>
                          <span class="text-gray-500">per user/month</span> -->
                          <!-- <span class="text-gray-500">Prix sera announce prochainement</span> -->

                        </div>

                        <!-- <a href="#" class="block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">Join for free</a> -->
                      </div>
                    </div>
                    <!-- plan - end -->

                    <!-- plan - start -->
                    <div class="flex flex-col rounded-lg border p-4 pt-6">
                        <div class="mb-12">
                          <div class="mb-2 text-center text-2xl font-bold text-gray-800">EXTENSION CONFORT</div>

                          <p class="mx-auto mb-8 px-8 text-center text-gray-500">Produit en cours d'élaboration en collaboration avec nos partenaires assureurs</p>

                          <div class="space-y-2">
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Moteur</span>
                            </div>
                            <!-- check - end -->

                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Pont</span>
                            </div>
                            <!-- check - end -->

                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Boîte de vitesse</span>
                            </div>
                            <!-- check - end -->

                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Carter</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Ingrédients</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Diagnostic</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Circuit électrique</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Freinage</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Alimentation</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Boîte automatique</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Boîte automatique</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Direction</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                              </svg>

                              <span class="text-gray-800 font-semibold">Suspensions</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                  </svg>
                              <span class="text-gray-800 font-semibold">Climatisation</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                  </svg>

                              <span class="text-gray-800 font-semibold">Transmissions</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                  </svg>
                              <span class="text-gray-800 font-semibold">Embrayage</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                  </svg>                              <span class="text-gray-800 font-semibold">Sécurité</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                  </svg>
                              <span class="text-gray-800 font-semibold">Circuit électronique</span>
                            </div>
                            <!-- check - end -->
                            <!-- check - start -->
                            <div class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                  </svg>                              <span class="text-gray-800 font-semibold">Organes de confort</span>
                            </div>
                            <!-- check - end -->
                          </div>
                        </div>

                        <div class="mt-auto flex flex-col gap-8">
                          <div class="flex items-end justify-center gap-1">
                            <!-- <span class="self-start text-gray-600">$</span>
                            <span class="text-4xl font-bold text-gray-800">49</span>
                            <span class="text-gray-500">per user/month</span> -->
                            <span class="text-gray-500">Produit en cours d'élaboration en collaboration avec nos partenaires assureurs</span>
                          </div>

                          <!-- <a href="#" class="block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base">Contact Sales</a> -->
                        </div>
                      </div>
                    <!-- plan - end -->
                  </div>

                  <div class="text-center text-sm text-gray-500 sm:text-base">Besoin d'aide pour decider? <a href="/faq" class="text-gray-500 underline transition duration-100 hover:text-indigo-500 active:text-indigo-600">Consulter nos FAQ</a>.</div>
                </div>
            </div>

            <!-- section contactez-nous -->
            <div class="row d-flex justify-content-center">
                <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 78rem; height: 44rem;">
                  <div class="card-body">
                    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">N’hésitez pas à nous contacter !</h2>
                    <div class="py-6 sm:py-8 lg:py-12">
                        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                            <!-- form - start -->
                            <form class="mx-auto max-w-screen-md sm:grid-cols-2">

                                <div class="sm:col-span-2">
                                  <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Email*</label>
                                  <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                                </div>

                                <div class="sm:col-span-2">
                                  <label for="subject" class="mb-2 inline-block text-sm text-gray-800 sm:text-base mt-4">Téléphone portable*</label>
                                  <input name="subject" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                                </div>

                                <div class="sm:col-span-2">
                                  <label for="message" class="mb-2 inline-block text-sm text-gray-800 sm:text-base mt-4">Message*</label>
                                  <textarea name="message" class="h-64 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring"></textarea>
                                </div>

                                <div class="flex items-center justify-between sm:col-span-2">
                                  <button class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Envoyer</button>
                                </div>
                            </form>
                            <!-- form - end -->


                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <!--end first column-->

        <!--sticky card's column-->
        <div class="flex flex-col lg:w-1/3 justify-content-start relative" *ngIf="detailsIsLoaded">
            <!--section details card-->
            <div class="row d-flex justify-content-center fixed  right-20" style="top:12rem !important; right: 9rem !important">
                <div class="card vend-voiture-card border-0 mb-8 rounded-3xl"  style="width: 23rem; height: 30rem;">
                  <div class="card-body banner-title">
                    <div class="div row flex items-start h-full">
                      <div class="div col-12 flex flex-col">
                        <p class="fs-2 py-1 card-side-text"><b>{{details.car.marque}}</b></p>
                        <p class="fs-3 py-1 card-side-text"><b>{{details.car.modele}}</b></p>
                        <p class="fs-5 py-1 card-side-text">{{details.car.dateMiseCirculation | date:'yyyy'}} | {{details.car.kilometrage}} km | {{details.car.carburant}}</p>
                        <p class="fs-1 py-1 card-side-text">{{details.car.prix}} TND</p>
                        <a href="#" class="inline-block flex-1 rounded-lg bg-indigo-500 mt-28 px-8 py-3 text-center  font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700">Reserver</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="fullpage" #fullPage (click)="closeZoom()"></div> -->
