<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Questions Fréquemment Posées</h2>

        <!-- <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p> -->
      </div>
      <!-- text - end -->

      <div class="grid gap-4 sm:grid-cols-2 md:gap-8">
        <!-- question - start -->
        <div class="rounded-lg bg-gray-100 p-5">
          <div class="mb-4 flex items-center justify-between gap-4 border-b pb-4">
            <!--  -->
            <h3 class="font-semibold text-indigo-500 sm:text-lg md:text-xl">Qu'est-ce que MyAuto?</h3>

            <span class="inline-flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-300 text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>

          <div class="markdown">
            <p><strong>MyAuto</strong> est le <strong>professionnel de l’occasion</strong> que <strong>vous avez</strong> toujours <strong>rêvé d'avoir !</strong></p>
            <p>Nous sommes partis du constat que <strong><a routerLink="/vendrevoiture">vendre</a></strong> ou <strong><a routerLink="/achetervoiture">acheter un véhicule d’occasion</a></strong> est souvent un processus long, laborieux et coûteux, et avons cherché à changer tout cela : <strong>acheter</strong> ou <strong>vendre</strong> une voiture doit <strong>redevenir un plaisir</strong> !</p>
            <p>Nous avons donc élaboré quelque chose de <strong>simple, intuitif et pratique</strong>, qui permet aux acheteurs d’<strong>acheter moins cher</strong> et aux vendeurs de <strong>vendre plus cher</strong>. Nous profitons de frais de structure faibles, et comme nous n’avons <strong>pas de stock, pas de risque de vous en faire supporter les coûts !</strong></p>
            <p>Notre but est de <strong>rétablir l’équilibre</strong> de la chaine de valeur, sans vous faire perdre de <strong>sécurité</strong> : le vendeur est assuré de ne s’adresser qu’à un interlocuteur (nous !), se couvrant ainsi contre les trop nombreux appels souvent inutiles associés aux annonces internet traditionnelles, ainsi que contre les potentielles utilisations non souhaitées de son numéro affiché sur une annonce. Le vendeur est de plus garanti contre les défauts de paiement, tandis que l’acheteur est certain de choisir un véhicule de qualité et profite systématiquement d’une <strong>garantie de 6 mois</strong>.</p>
            </div>
        </div>
        <!-- question - end -->

        <!-- question - start -->
        <div class="rounded-lg bg-gray-100 p-5">
          <div class="mb-4 flex items-center justify-between gap-4 border-b pb-4">
            <h3 class="font-semibold text-indigo-500 sm:text-lg md:text-xl">Qui sont les agents MyAuto?</h3>

            <span class="inline-flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-300 text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>
          <div class="markdown">
            <p>Votre voiture va être <strong>gratuitement évaluée</strong> par nos agents avant d’être commercialisée par <strong>MyAuto</strong>. Tous nos agents sont issus du monde de l’automobile (experts, mécaniciens, …).</p>
            <p>Armés d’une <strong>check-list de plus</strong> de 200 points de contrôle (intérieur, extérieur, mécanique), ils <strong>évaluent votre véhicule</strong> dans le but de le <strong>mettre en valeur</strong> ! Examinant chacun <strong>plus de 50 véhicules par mois</strong>, rien ne leur échappe !</p>
            <p>N’hésitez pas à <strong>discuter avec eux</strong> lors du <strong>rendez vous de mise en vente</strong>, ils sont <strong>passionnés d’automobile</strong> et ils pourront vous <strong>donner de bons conseils</strong> pour <strong>maximiser vos chances</strong> de <strong>bien vendre votre voiture</strong> !</p>
          </div>

        </div>
        <!-- question - end -->

        <!-- question - start -->
        <div class="rounded-lg bg-gray-100 p-5">
          <div class="mb-4 flex items-center justify-between gap-4 border-b pb-4">
            <!-- <h3 class="font-semibold text-indigo-500 sm:text-lg md:text-xl">Puis-je me fier à la description du véhicule ?</h3> -->
            <h3 class="font-semibold text-indigo-500 sm:text-lg md:text-xl">Comment est calculée l'estimation de prix de mon véhicule?</h3>

            <span class="inline-flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-300 text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>
            <div class="markdown">
              <p>Le prix de vente de votre véhicule est calculé <strong>à partir des informations que vous déclarez</strong> dans <a routerLink="/vendrevoiture"><strong>notre demande d'estimation</strong></a> qui déterminent l’équipement et l’état d’usure de votre véhicule.</p>
            <p>Nous analysons ensuite les <strong>ventes des véhicules similaires</strong> auprès des professionnels et des <strong>sites d’annonces de véhicules d’occasion dans votre région</strong>.</p>
          </div>
          <!-- <div class="markdown">
            <p>Chez <strong>MyAuto</strong>, nous savons que <strong>l’achat d’une voiture</strong> est un acte <strong>engageant</strong> et parfois <strong>stressant</strong>.</p>
            <p>C’est pour cela que <strong>vous avez accès</strong> à <strong>tous les détails du véhicule</strong> : carte grise, <strong>motorisation</strong>, <strong>options</strong>, <strong>factures d'entretien</strong> passent sous notre loupe et vous sont communiqués !</p>
            <p>Nos <strong>agents MyAuto</strong> passent <strong>2 heures</strong> sur chaque voiture et effectuent chacun <strong>plus de 50 inspections</strong> par mois.</p>
            <p>Par ailleurs, les <strong>photos haute définition</strong> vous permettent d’apprécier visuellement et très précisément la <strong>qualité de l’auto</strong> qui vous tente.</p>
            <p>Les <strong>agents MyAuto</strong> ont, comme vous, le souci du détail.</p>
          </div> -->
        </div>
        <!-- question - end -->

        <!-- question - start -->
        <div class="rounded-lg bg-gray-100 p-5">
          <div class="mb-4 flex items-center justify-between gap-4 border-b pb-4">
            <h3 class="font-semibold text-indigo-500 sm:text-lg md:text-xl">Puis-je me fier à la description du véhicule ?</h3>

            <span class="inline-flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-300 text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>

          <div class="markdown">
            <p>Chez <strong>MyAuto</strong>, nous savons que <strong> <a routerLink="/achetervoiture">l’achat d’une voiture</a></strong> est un acte <strong>engageant</strong> et parfois <strong>stressant</strong>.</p>
            <p>C’est pour cela que <strong>vous avez accès</strong> à <strong>tous les détails du véhicule</strong> : carte grise, <strong>motorisation</strong>, <strong>options</strong>, <strong>factures d'entretien</strong> passent sous notre loupe et vous sont communiqués !</p>
            <p>Nos <strong>agents MyAuto</strong> passent <strong>2 heures</strong> sur chaque voiture et effectuent chacun <strong>plus de 50 inspections</strong> par mois.</p>
            <p>Par ailleurs, les <strong>photos haute définition</strong> vous permettent d’apprécier visuellement et très précisément la <strong>qualité de l’auto</strong> qui vous tente.</p>
            <p>Les <strong>agents MyAuto</strong> ont, comme vous, le souci du détail.</p>
            </div>
        </div>
        <!-- question - end -->
      </div>
    </div>
  </div>
