<section class="text-gray-600 body-font overflow-hidden section-bg">
  <div class="container px-1 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100 table-container">
      <table class="table pb-4 table-style"  *ngIf="carsListIsLoaded" >
        <thead>
          <tr>
            <th data-label="first-name">Marque</th>
            <th data-label="last-name">Modele</th>
            <th data-label="email">Kilometrage</th>
            <th data-label="email">Carburant</th>
            <th data-label="email">Boite vitesse</th>
            <th data-label="email">Date Mise Circulation</th>
            <th data-label="email">Prix</th>
            <th data-label="email">Tag</th>
            <th data-label="email"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let car of carsList">
            <td data-label="first-name">{{car.marque}}</td>
            <td data-label="first-name">{{car.modele}}</td>
            <td data-label="first-name">{{car.kilometrage}}</td>
            <td data-label="first-name">{{car.carburant}}</td>
            <td data-label="first-name">{{car.boiteVitesse}}</td>
            <td data-label="last-name">{{car.dateMiseCirculation}}</td>
            <td data-label="email"> {{car.prix}}</td>
            <td data-label="email">{{car.tag}}</td>
            <td data-label="email">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle kebab-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item">Preview</a></li>
                  <li><a class="dropdown-item">Update</a></li>
                  <li><a class="dropdown-item" (click)="deleteCarById(car._id)">Refuser</a></li>
                </ul>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
